extends ../layout

block content
  .col-sm-8.col-sm-offset-2
    form(method='POST')
      legend= str.p_forgot
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        p= str.help_txt
        label.control-label(for='email')= str.email
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
      .form-group
        button.btn.btn-primary(type='submit')
          i.fa.fa-key
          span= str.reset
