extends ../layout

block content
  .page-header
    h3= str.sign_in
  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='email')= str.email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='password')= str.password
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.col-sm-3.btn.btn-primary(type='submit')
          i.fa.fa-user 
          span= str.enter
        a.btn.btn-link(href='/forgot')= str.pass_forgot
    .form-group
      .col-sm-offset-3.col-sm-7
        hr
    .form-group
      .col-sm-offset-3.col-sm-7
        a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
          i.fa.fa-facebook
          span= str.sign_in_with + ' ' + str.fb
        a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
          i.fa.fa-twitter
          span= str.sign_in_with + ' ' + str.tw
        a.btn.btn-block.btn-google.btn-social(href='/auth/google')
          i.fa.fa-google-plus
          span= str.sign_in_with + ' ' + str.gl       
        a.btn.btn-block.btn-instagram.btn-social(href='/auth/instagram')
          i.fa.fa-instagram
          span= str.sign_in_with + ' ' + str.ig
