extends layout

include mixins

block scripts
  script.
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip(); 
    });

block content
  h1 #{state.title}
  br
  div.progress
    div.progress-bar.progress-bar-success.progress-bar-striped.active(
      role="progressbar" aria-valuenow= progress aria-valuemin= min_val 
      aria-valuemax= max_val style="width:" + progress + "%" 
    )
      span #{progress + '%'}
  .container
    h2 #{state.dash_title}
    p
    - var next_step = false;
    - var counter = 0;
    each chapter, index in chapters
      .panel-group
        .panel.panel-default
          .panel-heading 
            h4.panel-title.text-uppercase
              a(data-toggle="collapse" href="#collapse" + index) #{state[chapter]}
                if chapter !== 'demo'
                  span.badge(data-toggle="tooltip" data-placement="top" title= state.tooltip.trials) #{state.trials}
          div.panel-collapse.collapse(id="collapse" + index class= (chapter === curr_chapter) && (passed !== max_val) ? "in" : "")
            .list-group          
              each val in lesson_data
                if val.chapter === chapter
                  if val.user_stories > 0 || val.name === 'demo' || next_step
                    a.list-group-item(href="/lessons/" + val.name + "/" + val.subj target='_blank') #{val[lang].name}  &nbsp;
                      +dashb_subj_label(val.name, val[lang].subname)
                      if val.name !== 'demo'
                        - counter++;
                        +dashb_next_label(next_step, state, passed)
                      +dashb_count_badge(val.name, val.user_stories)
                      - next_step = counter === passed ? true : false;  
                  else    
                    p.list-group-item.bg-secondary #{val[lang].name}  &nbsp;
                      +dashb_subj_label(val.name, val[lang].subname)
                      +dashb_count_badge(val.name, val.user_stories)
    h2 #{state.diploma}
    .panel-group          
      .panel.panel-default
        .panel-heading 
          h4.panel-title.text-uppercase(data-toggle="tooltip" data-placement="top" title= state.tooltip.diploma_story)
            a(data-toggle="collapse" href="#collapse5") #{state.diploma_story}
        div#collapse5.panel-collapse.collapse(class= passed === max_val ? "in" : "")
          .list-group
            if user_acc === 'basic'
              p.list-group-item #{state.diploma_story_avail} 
                a(href='/#prices' target='_blank')  
                  strong= state.accounts
                span= state.acc
            else if passed !== max_val
              p.list-group-item.bg-secondary #{state.diploma_story_disabled}
            else if passed === max_val 
              a.list-group-item(href="/lessons/diploma/story" target='_blank') #{state.get_diploma}
                +dashb_next_label(true, state, passed)