extends layout

block scripts
  script.
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip(); 
    });

block content
  h1 #{state.title}
  br
  div.progress
    div.progress-bar.progress-bar-success.progress-bar-striped.active(
      role="progressbar" aria-valuenow= progress aria-valuemin= min_val 
      aria-valuemax= max_val style="width:" + progress + "%" 
    )  
      if passed === 0 
        span  >>>
      else
        span #{progress + '%'}
  .container
    h2 #{state.dash_title}
    p
    - var next_step = false;
    - var counter = 0;
    each chapter, index in chapters
      .panel-group
        .panel.panel-default
          .panel-heading 
            h4.panel-title.text-uppercase
              a(data-toggle="collapse" href="#collapse" + index) #{state[chapter]}
                if chapter !== 'demo'
                  span.badge(data-toggle="tooltip" data-placement="top" title= state.tooltip.trials) #{state.trials}
          div.panel-collapse.collapse(id="collapse" + index class= ((chapter === curr_chapter) && (passed !== max_val)) || (passed === 0 && chapter === 'demo') ? "in" : "")
            .list-group          
              each val in lesson_data
                if val.chapter === chapter
                  if val.user_stories > 0 || val.subj === 'tutorial' || next_step
                    .list-group-item 
                      +dashb_subj_label(val)
                      if val.subj !== 'tutorial'
                        - counter++;
                        +dashb_next_label(val, next_step, state, passed)
                      +dashb_count_badge(val.subj, val.user_stories)
                      - next_step = counter === passed ? true : false;  
                  else    
                    p.list-group-item.bg-secondary
                      +dashb_subj_label(val)
                      +dashb_count_badge(val.subj, val.user_stories)
    h2 #{state.diploma}
    .panel-group          
      .panel.panel-default
        .panel-heading 
          h4.panel-title.text-uppercase(data-toggle="tooltip" data-placement="top" title= state.tooltip.diploma_story)
            a(data-toggle="collapse" href="#collapse5") #{state.diploma_story}
        div#collapse5.panel-collapse.collapse(class= passed === max_val ? "in" : "")
          .list-group
            if passed !== max_val
              p.list-group-item.bg-secondary #{state.diploma_story_disabled}
            else if (passed === max_val) && !diploma 
              a.list-group-item(href="/practice/diploma/story") #{state.get_diploma}
              //-  +dashb_next_label(val, next_step, state, passed)
            else if (passed === max_val) && diploma
              a.list-group-item(href="/lessons/story/diploma/read") #{state.dipl_exists}