extends layout

block content
  .jumbotron.text-center
    h1 Програмуємо... страшні історії!
    p.lead Основи інформатики легко, весело й вичерпно.
    form(method='get' action='/lessons/dashboard')
      button.btn.btn-success.btn-lg        
        | Починай,
        br
        | це безкоштовно&nbsp;
        span.glyphicon.glyphicon-play
    p.lead
      i.fa.fa-paint-brush
      | Розроблено спеціально для гуманітаріїв
  .container-fluid#monsters        
    h2.text-center Знайомся з нашими героями
    div#mrCollection.carousel.slide.text-center(data-ride="carousel")
      <!-- Indicators -->
      ol.carousel-indicators
        each val, ind in monsters
          if ind === 0
            li.active(data-target="#mrCollection" data-slide-to= ind)
          else
            li(data-target="#mrCollection" data-slide-to= ind)
      <!-- Wrapper for slides -->
      div.carousel-inner(role="listbox")
        - var active;
        each val, ind in monsters
          if ind === 0
            - active = 'active'
          else
            - active = ''
          .item(class= active)
            div
              img.img-responsive.center-block(src= '/images/heroes/' + val.monster + '.png' alt= val.monster)
              p 
                strong= val[state].name
              p= val[state].talent
      <!-- Left and right controls -->
      a.left.carousel-control(href="#mrCollection" role="button" data-slide="prev")
        span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
        span.sr-only Попередній
      a.right.carousel-control(href="#mrCollection" role="button" data-slide="next")
        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
        span.sr-only Наступний    
  .container-fluid#about
    .row
      .col-sm-8
        h2 Чи можна програмувати... звичайною мовою?
        h4 Зазвичай для навчання використовують спрощену псевдомову програмування, якої треба навчитися. Але чому б не використати для початку мову, яку ти вже знаєш? 
        p
        button.btn.btn-default.btn-sm(data-toggle="collapse" data-target="#answ_1") Дізнатися більше »
        div.collapse#answ_1
          p Ви не зустрінете в нас означень на кшталт "оператор — це елемент мови, що задає повне описання дії, яку необхідно виконати".
          p Ми зробили пояснення максимально доступними і водночас вичерпними. Видима простота наших історій та завдань насправді потребувала тривалої та ретельної праці.
          p Цей курс покликаний дати глибоке розуміння основ програмування та креативного письма у легкій та цікавій формі. 
      .col-sm-4
        i.fa.fa-file-code-o.logo.slideanim
  .container-fluid.bg-grey#team
    .row
      .col-sm-4
        img.slideanim(src='/images/heroes/authors/ptak.png')
        img.slideanim(src='/images/heroes/authors/bilka.png')
        img.slideanim(src='/images/heroes/authors/mamay.png')
      .col-sm-8
        h2 Про нас
        h4 Хто ми і чому це придумали?
        p
          strong.text-uppercase Петро Яценко, 
          | інженер-програміст, письменник, викладач, автор курсу — навчає дітей та дорослих мислити послідовно й логічно.
        p 
          strong.text-uppercase Галина Ткачук, 
          | дитяча письменниця, викладачка креативного письма — написала бестселер "Тринадцять історій у темряві", що став "Книгою року Бі-Бі-Сі". 
        p 
          strong.text-uppercase Ірина Мамаєва, 
          | дизайнерка та художниця — зробила чудові ілюстрації для нашого курсу.  
  .container-fluid.text-center#services 
    h2 Чому цей курс унікальний?
    p
    .row.slideanim
      .col-sm-4
        span.glyphicon.glyphicon-education.logo-small 
        h4.text-uppercase Корисно
        ul
          li Вивчимо типи 
            span.text-uppercase змінних
          li Дізнаємося про 
            span.text-uppercase умови
          li Застосуємо 
            span.text-uppercase цикли
          li Зрозуміємо 
            span.text-uppercase функції

      .col-sm-4
        span.glyphicon.glyphicon-leaf.logo-small
        h4.text-uppercase Просто
        ul
          li Без псевдокоду
          li З прикладами та підказками
          li З підтримкою по телефону та email
      .col-sm-4
        span.glyphicon.glyphicon-heart.logo-small
        h4.text-uppercase Цікаво
        ul
          li На основі бестселера "Тринадцять історій у темряві"
          li Навчають Монстри
          li Перевірка "тестами без стресу"
      p
    .row.slideanim
      .col-sm-4
        span.glyphicon.glyphicon-thumbs-up.logo-small
        h4.text-uppercase Доступно
        p Потрібні лише:
        ul
          li комп'ютер чи планшет
          li доступ до інтернету
        p Не обовʼязково:  
        ul 
          li принтер
      .col-sm-4
        span.glyphicon.glyphicon-certificate.logo-small
        h4.text-uppercase Без обмежень
        p Необхідні навички:
        ul
          li уміти читати і писати
          li розуміти поняття "більше" та "менше"
          li любити вигадувати
          li не боятися монстрів
      .col-sm-4
        span.glyphicon.glyphicon-wrench.logo-small
        h4.text-uppercase Результативно
        p Свою історію можна:
        ul
          li побачити зверстаною
          li зберегти в PDF 
          //- li поширити в соцмережах
          li негайно роздрукувати!
        p
  .container-fluid.bg-grey#how_it_works
    .row
      .col-sm-8
        h2 Як це працює
        h4 “9 кроків креативної інформатики”:        
        ol
          li Читаємо страшну історію.
          li Дізнаємося, які поняття програмування в ній застосовані.
          li Вибираємо героя для своєї історії.
          li Пишемо власну історію з покроковими підказками.
          li Закріплюємо знання з «тестами без стресу».
          li У кінці курсу пишемо фінальну "дипломну історію".
          li Надсилаємо на перевірку Таємному Редакторові.
          li Якщо треба – редагуємо.
          li Отримуємо диплом курсу!
      .col-sm-4
        span.glyphicon.glyphicon-cog.logo.slideanim  
  .container-fluid#prices
    .text-center
      h2 Ціни
      h4 Оберіть, які можливості пасують вам більше
    .row.slideanim      
      .col-sm-4
        .panel.panel-default.text-center
          .panel-heading
            h1 Гурток
          .panel-body            
            p
              strong До девʼяти дипломів!
            p
              strong 20 самостійних занять
            p
              strong 16 історій
            p 
              strong До 64 конструкторів страшилок
            p 
              strong Два герої + додаткові монстри
            p 
              strong Понад 30 тестів без стресу!
            p
              strong Особиста увага Таємного Редактора
          .panel-footer
            h3 UAH #{prices.premium}#{prices.suffix}
            h4 за рік
            form#team(method='POST' action='/payment')
              input(type='hidden', name='_csrf', value=_csrf)
              input(type='hidden', name='sum', value= prices.premium)
              input(type='hidden', name='acc_type', value= global_str.premium)
              button.btn.btn-lg(type='submit') Хочу!
            //- button.btn.btn-lg#premium(disabled) Скоро!
      .col-sm-4
        .panel.panel-default.text-center
          .panel-heading
            h1 Родина
          .panel-body            
            p
              strong До трьох дипломів
            p
              strong 20 самостійних занять
            p
              strong 16 історій
            p 
              strong До 48 конструкторів страшилок
            p 
              strong Два герої + додатковий монстр
            p 
              strong Понад 30 тестів без стресу!
            p
              strong Особиста увага Таємного Редактора
          .panel-footer
            h3 UAH #{prices.advanced}#{prices.suffix}
            h4 за півроку
            form#family(method='POST' action='/payment')
              input(type='hidden', name='_csrf', value=_csrf)
              input(type='hidden', name='sum', value= prices.advanced)
              input(type='hidden', name='acc_type', value= global_str.advanced)
              button.btn.btn-lg(type='submit') Хочу!
            //- button.btn.btn-lg#optimum(disabled) Скоро!
      .col-sm-4
        .panel.panel-default.text-center
          .panel-heading
            h1 Учень
          .panel-body            
            p
              strong Один диплом
            p
              strong 20 самостійних занять
            p
              strong 16 історій
            p 
              strong 32 конструктори страшилок
            p
              strong Два герої для власних історій
            p 
              strong Понад 30 тестів без стресу!
            p
              strong Особиста увага Таємного Редактора
          .panel-footer
            h3 Лише UAH #{prices.basic}#{prices.suffix}
            h4 за три місяці
            form#student(method='POST' action='/payment')
              input(type='hidden', name='_csrf', value=_csrf)
              input(type='hidden', name='sum', value= prices.basic)
              input(type='hidden', name='acc_type', value= global_str.basic)
              button.btn.btn-lg(type='submit') Хочу!      
  .container-fluid#faq   
    h2 Часто нас запитують...       
    .row.slideanim
      .col-sm-6
        h3 ... ви навчаєте програмувати чи писати історії?        
        p Ми допомагаємо зрозуміти принципи, за якими побудовані найбільш розповсюджені програми.
        button.btn.btn-default.btn-sm(data-toggle="collapse" data-target="#quest_1") Далі »
        div.collapse#quest_1
          p Це переважна більшість коду у всесвітній мережі та прикладних програм на вашому телефоні, планшеті чи комп'ютері.
          p Ми помітили, що ці принципи також можна застосувати для написання цікавих історій і вирішили: чому б не поєднати приємне з корисним?
          p Таким чином, пишучи чудові історії, ви навчитеся розуміти їхні закономірності — такі самі, які, можливо, знадобляться для написання чудових програм.
        p  
      .col-sm-6
        h3 ... як застосувати отримані знання?       
        p Наша мета — навчити мислити цілями, а не обмеженнями. Саме це вміння зробило знаменитими, зокрема, Ілона Маска, Річарда Бренсона та Стіва Джобса.
        button.btn.btn-default.btn-sm(data-toggle="collapse" data-target="#quest_2") Далі »
        div.collapse#quest_2  
          p Зрозумівши, як побудовані книжкові історії, ви отримаєте підґрунтя для майбутнього творчого підходу до багатьох завдань.
          p Уміння ж застосовувати для оформлення креативних ідей логічні структури допоможе не лише в написанні власних історій, а й загалом у чіткому баченні, як реалізувати будь-яку нову ідею чи план.
          p І, звісно, коли дитина глибоко зрозуміє суть основних "цеглинок" програмування: змінних, функцій, циклів, умов — їй буде набагато легше опановувати цю дисципліну в школі.
        p
    .row.slideanim  
      .col-sm-6
        h3 ... чому тести "без стресу"?
        p Ми не ставимо за мету, аби дитина зазубрила визначення й терміни або переживала, що неї чекає тест із оцінкою, за яку її можуть критикувати. 
        button.btn.btn-default.btn-sm(data-toggle="collapse" data-target="#quest_3") Далі »
        div.collapse#quest_3
          p У кінці кожного розділу студент може перевірити, чи добре він засвоїв матеріал. "Без стресу" означає, що ми не позначаємо відповіді як "правильні" чи "неправильні", не даємо так званих "кольорів стресу": приміром, червоного.  
          p Студент сам бачить, має він рацію чи ні, і сам вирішує, чи потрібно йому ще раз прочитати пояснення з відповідної теми. У результаті дитина сама керує процесом свого навчання.
        p
      .col-sm-6
        h3 ... навіщо вивчати це в молодших класах?
        p Відповідь проста: щоби далі було легше вчитися. Розуміння основних принципів програмування цілком доступне дітям вже у перших класах. 
        button.btn.btn-default.btn-sm(data-toggle="collapse" data-target="#quest_4") Далі »
        div.collapse#quest_4 
          p Не залежно від того, чи стане ваш син чи донька програмістом, навички логічного мислення дуже важливі в суспільстві. 
          p За десяток років набирають та втрачають популярність чимало мов програмування, але їх основа залишається незмінною.
        p  
  .container-fluid.bg-grey#contact
    h2.text-center Контакти    
    .row
      .col-sm-5
        p 
          span.glyphicon.glyphicon-map-marker 
          //- вул. Стефаника, 7/1, м. Львів, Україна, 79005
          |&nbsp; #{support_address} 
        p
          span.glyphicon.glyphicon-phone 
          |&nbsp; #{support_phone}
        //- p 
          span.glyphicon.glyphicon-envelope 
          |&nbsp; #{support_email}
      .col-sm-7.slideanim
        p Ми відповідаємо впродовж 24 годин
        form(method='POST' action='/contact')
          input(type='hidden', name='_csrf', value=_csrf)
          .row
            .col-sm-6.form-group
              input.form-control#name(name="name" placeholder="Імʼя" type="text" required)
            .col-sm-6.form-group
              input.form-control#email(name="email" placeholder="Ваша е-пошта" type="email" required)
          textarea.form-control#message(name="message" placeholder="Коментар" rows="5")
          p
          .row
            .col-sm-12.form-group
              button.btn.btn-default.pull-right(type="submit") Надіслати