mixin dashb_subj_label(val)
  case val.subj
    when 'tutorial'
      span= val[lang].name
      |&nbsp;
      a(href= '/lessons/' + val.name + '/' + val.subj)
        span.label.label-info #{val[lang].subname}
    when 'tests'
      span= val[lang].name
      |&nbsp;
      a(href= '/practice/tests/' +  val.name)
        span.label.label-warning #{val[lang].subname}
    default
      a(href= '/lessons/' + val.name + '/' + val.subj)
        span.label.label-success #{val[lang].subname}
      
mixin dashb_next_label(val, next, state, passed)
  if passed > 0 && next
    a(href= val.subj === 'tests' ? '/practice/tests/' +  val.name : '/lessons/' + val.name + '/' + val.subj)
      | &nbsp;
      span.label.label-info= state.next
  else if next
    a(href= val.subj === 'tests' ? '/practice/tests/' +  val.name : '/lessons/' + val.name + '/' + val.subj)
      | &nbsp;
      span.label.label-info= state.start
  else if val.subj !== 'tests'
    a(href= '/lessons/explanation/' + val.name data-toggle="tooltip" data-placement="top" title= state.tooltip.read_expl)
      | &nbsp;
      span.label.label-warning
        i.fa.fa-info-circle.fa-left-margin
    a(href= '/lessons/story/' + val.name + '/read' data-toggle="tooltip" data-placement="top" title= state.tooltip.read_practice_story)
      | &nbsp;
      span.label.label-info
        i.fa.fa-eye.fa-left-margin

mixin dashb_count_badge(subj, trials)
  case subj
    when 'tests'
    when 'tutorial'
      | &nbsp;
    default
      span.badge #{trials}

mixin account_label(acc_type, str)
  case acc_type
    when 'sandbox'
      span.label.label-default= str.sandbox  
    when 'basic'
      span.label.label-info= str.basic
    when 'advanced'
      span.label.label-success= str.advanced
    when 'premium'
      span.label.label-warning= str.premium   
    when 'editor'
      span.label.label-warning= str.editor
    when 'admin'
      span.label.label-warning= str.admin  
    when 'development'
      span.label.label-warning= str.devel
    default
      span.label.label-warning !{str.beta}