mixin dashb_subj_label(name, subname)
  case name
    when 'demo'
      span.label.label-info #{subname}
    when 'knowledge_check'
      span.label.label-warning #{subname}
    default
      span.label.label-success #{subname}
      
mixin dashb_info_label(info, state)
  case info
    when 'next'
      | &nbsp;
      span.label.label-info= state.next

mixin dashb_count_badge(name, trials)
  case name
    when 'knowledge_check'
    when 'demo'
      | &nbsp;
    default
      span.badge #{trials}
