mixin dashb_subj_label(subj, subname)
  case subj
    when 'tutorial'
      span.label.label-info #{subname}
    when 'tests'
      span.label.label-warning #{subname}
    default
      span.label.label-success #{subname}
      
mixin dashb_next_label(next, state, passed)
  if passed > 0 && next
    | &nbsp;
    span.label.label-info= state.next
  else if next
    | &nbsp;
    span.label.label-info= state.start

mixin dashb_count_badge(subj, trials)
  case subj
    when 'tests'
    when 'tutorial'
      | &nbsp;
    default
      span.badge #{trials}
      
mixin dashb_read_label(state)
  | &nbsp;
  span.label.label-info= state.read_story

mixin account_label(acc_type, str)
  case acc_type
    when 'sandbox'
      span.label.label-default= str.sandbox  
    when 'basic'
      span.label.label-info= str.basic
    when 'advanced'
      span.label.label-success= str.advanced
    when 'premium'
      span.label.label-warning= str.premium   
    when 'editor'
      span.label.label-warning= str.editor
    when 'admin'
      span.label.label-warning= str.admin  
    when 'development'
      span.label.label-warning= str.devel
    default
      span