extends layout

block content
  .page-header
    h3= str.title
  .container
    h4 !{str.intro_mess}
    img#img1(src='/images/fill_in_example.png')
    .table-responsive
      table.table.table-striped.table-hover
        thead 
          tr
            th
              p= str.sum_field
            th(scope="col")
              p= str.login_field
        tbody
          tr
            td
              p= str.sum + prices.suffix + '/' + str.acc
            td
              p= str.sender
    div.text-center          
      a.btn.btn-lg.btn-success(href= str.payment_page_url target="_blank" rel="noopener noreferrer")= str.payment_page          
    h4 !{str.activation_mess}
    h4 !{str.discount_mess}    
    h3 Контакти:      
    p
      span.glyphicon.glyphicon-phone 
      |&nbsp; #{support_phone}
    p 
      span.glyphicon.glyphicon-envelope 
      |&nbsp; #{support_email}       
