extends ../13_stories/lesson_layout

block styles
  link(rel='stylesheet', href='/css/w3css/4/w3.css')
  link(rel='stylesheet', href='/css/lesson.css')

block scripts
  script.
    var nextPath = !{goto}  
  script(src='/js/explanation.js')   

block content
  header
    h1= title
    div.expl_text
      p.expl_item= about
  div#tables_wrapper  
    section#content
      div.theory
        each val, index in expl_items
          p.theory_item(id='expl_item_' + index)= val
    section#middle
      img.middle_img(src= '/images/' + img + '.png')      
    aside#sidebar
      div.button
        h2= you_can
        button(type='button' id='go' class='go_ahead enabled') #{your_talent}
