extends ../layout

block scripts
  script.
    var nextPath = !{next_path}
    var nextBtn = !{JSON.stringify(next_btn)}
  script(src='/js/explanation.js')   

block content
  span.text-lowercase.label.label-info= strings.subject
  h2= strings.title
  .container
    .raw
      .col-sm-4
        img#img1(src= img)
      .col-sm-8
        hr
        each val, index in expl_items
          p.story_text.visible !{val}
        div.text-right  
          button.btn.btn-info.btn-sm(type='button' id= next_btn)
            |>>>  
        hr