extends ../layout

block scripts
  script.
    var nextPath = !{next_path}
    var nextBtn = !{JSON.stringify(next_btn)}
  script(src='/js/eu.js')   

block content  
  .container
    .raw
      .col-sm-4
        h3= str.img_txt
        img#img1(src= img)
      .col-sm-8
        h2.text-center= str.title
          | &nbsp; 
          span.label.label-info.text-lowercase= str.subject
        hr
        each val, index in expl_items
          p.story_text.visible !{val}
        div.text-right  
          button.btn.btn-info.btn-lg(type='button' id= next_btn)
            |>>>  
        hr