extends ../layout

block scripts
  script.
    var nextPath = !{goto}  
  script(src='/js/explanation.js')   

block content
  h2= title
    | &nbsp;
    span.label.label-info= subject
  .container-fluid
    .raw
      .col-sm-6
        img#monster_img(src= '/images/' + img + '.png')
      .col-sm-6        
        hr
        each val, index in expl_items
          p.story_text.visible !{val}
        hr
        h3= you_can
        button.btn.btn-info.btn-lg(type='button' id='go') !{your_talent}