extends ../layout

block scripts
  script.
    var steps = !{steps}
    var nextPath = !{next_path}
    var nextButton = !{JSON.stringify(next_btn)}
  script(src='/js/narrator.js')
  
block content
  span.text-lowercase.label.label-info= strings.subject
  h2= strings.title
  .container
    .col-sm-4.text-center
      h3= strings.img1_t
      img#img1(src= strings.img1)
      h3= strings.img2_t
      img#img2(src= strings.img2)
    .col-sm-8
      .raw
        .col-sm-12#text
          hr
          each val, index in story_items
            p.story_text(id='story_item_' + index) !{val}
          div.text-right  
            button.btn.btn-info.btn-sm(type='button' id= next_btn)
              |>>>
          hr  