extends ../layout

block scripts
  script.
    var steps = !{steps}
    var nextPath = !{next_path}
    var nextButton = !{next_btn}
  script(src='/js/narrator.js')
  
block content
  h2= title 
    | &nbsp;
    span.label.label-info= subject
  .container
    .col-sm-4.text-center
      h3= img1_t
      img#img1(src= img1)
      h3= img2_t
      img#img2(src= img2)
    .col-sm-8
      .raw.text-center
        .col-sm-3
          h3= h1
          button.btn.btn-success.btn-lg(type='button' id='h1') #{h1_act}
        .col-sm-3
          h3= h2
          button.btn.btn-success.btn-lg(type='button' id='h2') #{h2_act}
        .col-sm-3
          h3= h3
          button.btn.btn-success.btn-lg(type='button' id='h3') #{h3_act}
        .col-sm-3  
          h3= h4
          button.btn.btn-info.btn-lg(type='button' id='h4') #{h4_act}
      .raw
        .col-sm-12#text
          hr
          each val, index in story_items
            p.story_text(id='story_item_' + index) !{val}
          hr      