extends ../13_stories/lesson_layout

block stylespaw
  link(rel='stylesheet', href='/css/w3css/4/w3.css')
  link(rel='stylesheet', href='/css/lesson.css') 

block scripts
  script.
    var steps = !{steps}
    var nextPath = !{explanation}
  script(src='/js/narrator.js')
  
block content
  header
    h1= story_name
    h2= subject   
  div#tables_wrapper    
    section#content
      div.button
        h2= boy_talent
        button(type='button' id='boy_button' class='go_ahead') #{boy_action}
      div.button_center
        h2= mom_talent
        button(type='button' id='mom_button' class='go_ahead') #{mom_action}
      div.button
        h2= boy_hat
        img#pompon_color.pompon_color(src="/images/pompons/hat/pompon_darkblue.png")
    section#middle  
      div.hero_greeting
        h2= greetings
      div#hole.img_container
        div.story
          each val, index in story_items
            p.story_text(id='story_item_' + index)= val
        img#pompon_img(src="/images/pompons/monster/monster_cover.png")      
    aside#sidebar
      div.button
        h2= monster_talent
        button(type='button' id='monster_button' class='go_ahead') #{monster_action}
      div.button_center
        h2= monster_danger
        button(type='button' id='monster_danger' class='go_ahead')
      div.button
        h2= your_talent
        button(type='button' id='go' class='go_ahead') #{your_action}  
      