extends ../layout

block scripts
  script.
    var webStorageAlert= !{noStorage}
    var nextStep = !{nextStep}  
  script(src='/js/select_heroes.js')

block content
  h1= description
  .text-center#zoo
    each variable in monsters_zoo
      if (variable.enabled)
        .col-sm-4
          .thumbnail
            img.pointer.w3-opacity.w3-hover-opacity-off(
              src= '/images/practice/monsters_small/' + variable.monster 
              +'.png' id= variable.monster alt= variable.monster)
            p 
              strong= variable.name_uk
            p= variable.talent_uk