extends ../layout

block scripts
  script.
    var webStorageAlert= !{no_storage}
    var nextStep = !{next_step}  
  script(src='/js/shu.js')

block content
  h1= strings.title  
  .container.text-center#zoo
    .raw  
    each val in podium      
      if (val.status === 'enabled')
        .col-sm-6
          .thumbnail
            img.pointer.w3-opacity.w3-hover-opacity-off(
              src= '/images/heroes/' + val.monster 
              +'.png' id= val.monster alt= val.name)
            p 
              strong= val.name
            p= val.talent
      else
        case val.status
          when 'prem'
          when 'adv_prem'
            .col-sm-6
              .thumbnail.bg-secondary
                img.w3-opacity(
                  src= '/images/heroes/' + val.monster 
                  +'.png' alt= val.name)
                p 
                  strong= val.name
                p              
                  a(href='/#prices') 
                    strong= strings['msg_' + val.status]