extends ../layout

block scripts
  script.
    var steps = !{steps}
    var nextPath = !{next_path}
    var nextButton = !{JSON.stringify(next_btn)}
    var storyTitle = !{JSON.stringify(title)}
    var practice = true
  script(src='/js/narrator.js')
  script(src='/js/builder.js')
  
block content  
  .container
    .col-sm-4.text-center
      h3= str.img1_t
      img#img1(src= str.img1)
      h3= str.img2_t
      img#img2(src= str.img2)
    .col-sm-8
      h2.text-center= title 
        | &nbsp; 
        span.label.label-info.text-lowercase= str.subject
      .raw
        .col-sm-12
          hr
          each val, index in story_items
            p.story_text(id='story_item_' + index) !{val}
          each val, index in str.task
            p.story_text(id='task_' + index) !{val}
          div.text-right  
            button.btn.btn-info.btn-sm(type='button' id= next_btn)
              |>>>
          p    
      .raw
        .col-sm-12
          textarea#your_story.story_text(rows="4" placeholder= str.write)