extends ../layout

block scripts
  script.
    var steps = !{steps}
    var nextPath = !{next_path}
    var nextButton = !{next_btn}
    var storyTitle = !{JSON.stringify(title)}
    var practice = true
  script(src='/js/narrator.js')
  script(src='/js/builder.js')
  
block content
  h2= title
    | &nbsp;
    span.label.label-info= subject
  .container
    .col-sm-4.text-center
      img#img1(src='/images/practice/monsters_large/' + monster_img + '.png')
      h3= counter
      img#loop_img(src='/images/theory/loops/' + step_loop + '.png')
    .col-sm-8
      .raw.text-center
        .col-sm-3
          h3= smb_can
          button.btn.btn-danger.btn-lg(type='button' id='stop') #{stop}
        .col-sm-9
          h3= you_can
          .btn-group
            button.btn.btn-success.btn-lg(type='button' id='look') #{look_around}          
            button.btn.btn-success.btn-lg(type='button' id='help') #{help}
            button.btn.btn-info.btn-lg(type='button' id='go') #{go_ahead}
      .raw
        .col-sm-12
          hr
          each val, index in story_items
            p.story_text(id='story_item_' + index) !{val}
          each val, index in task
            p.story_text(id='task_' + index) !{val}
          hr  
      .raw
        .col-sm-12
          textarea#your_story.story_text(rows="4" placeholder= write_here)