extends ../13_stories/lesson_layout

block styles
  link(rel='stylesheet', href='/css/w3css/4/w3.css')
  link(rel='stylesheet', href='/css/lesson.css')
  
block scripts
  script.
    var steps = !{steps}
    var nextPath = !{full_story_path}  
  script(src='/js/narrator.js')    
  
block content
  header
    h1= title
    div
      each val, index in story_items
        p.story_text(id='story_item_' + index)= val
  div#tables_wrapper.very_black_back        
    section#content
      h2= you_can
      div.button
        button(type='button' id='go' class='go_ahead') #{go_ahead}
      div.button_center
        button(type='button' id='look' class='go_ahead') #{look_around}
      div.button
        button(type='button' id='help' class='go_ahead') #{help}
    section#middle       
      div.img_container
        img.middle_img(src='/images/monsters_large/' + monster_img + '.png')
        div.your_text
          textarea#your_story.your_story.invisible(rows="4" cols="35") #{write_here}
    aside#sidebar      
      div.button
        h2= smb_can      
        button(type='button' id='stop' class='go_ahead') #{stop}
      div.button_center
        h2= counter
        img.middle_img#aside_loop_img(src='/images/loops/' + step_loop + '.png')
      
