extends ../13_stories/lesson_layout

block styles
  link(rel='stylesheet', href='/stylesheets/w3css/4/w3.css')
  link(rel='stylesheet', href='/stylesheets/lesson.css')
  
block scripts
  script(src='/js/get_story_initials.js')
  
block content
  header
    h1= title
    div
      textarea#story_beginning(rows="4" cols="50") #{put_your_text}
  div#tables_wrapper        
    section#content
      div
        h2= first_hero_can
        input.new_hero_talent(type='text')
      div
        h2= second_hero_can
        input.new_hero_talent(type='text')
    section#middle
      div
        img.middle_img(src='/images/monsters_large/' + monster_img + '.png')
    aside#sidebar
      div.you_can
        h2= your_talent
        button(id='go_ahead' class='button go_ahead disabled') #{your_action}
