extends ../layout

block scripts
  script.
    var nextPath = !{next_path}
    var savePath = !{save_path}
    var nextButton = !{JSON.stringify(next_btn)}
    var t = !{JSON.stringify(d)}
    var splitter = !{split_symbol}
    var testName = !{test_name}
  //-  script(src='/js/test.js')    
  script(src='/js/tu.js')
  
block content  
  .container-fluid
    .row#title
      h2.text-center= str[state].title
        | &nbsp; 
        span.label.label-info.text-lowercase#subtitle
    hr
    .row#quest
    hr  
    .row#btns
    hr
    .row#answ